@page
@using Data.DataAccess
@using Data.Models
@model Event_Organizer.web.Pages.EventModel
@{
	 ViewData["Title"] = (Model.ActiveEvent != null)? Model.ActiveEvent.Name:"No Event Found";
}

<nav class="navbar bg-body-tertiaryc mb-4">
	<div class="container-fluid d-flex justify-content-center">
		<h1>@((Model.ActiveEvent != null)? Model.ActiveEvent.Name:"No Event Found")</h1>
	</div>
</nav>

<div class="container-fluid mb-4">
	<h2 class="display-5"> Hello @(Model.CurrentUser.Name !)</h2>
	<h4>@((Model.ActiveEvent != null) ? (Model.ActiveEvent.OpenForEditing ? "Feel free to add some activities" : "Time to vote") : "No Event Found")</h4>
</div>

<div class="container-fluid mt-4">
	<form method="post" asp-page-handler="AddActivity">
		<input type="hidden" name="EventId" value="@Model.EventId" />
		<div class="input-group mb-3">
			<input asp-for="ActivityName" class="form-control" placeholder="Name your activity" />
			<button class="btn btn-success" type="submit">Add Activity</button>
		</div>
	</form>
</div>

<div class="row">
	@if (Model.Activities is not null)
	{
		@foreach (Activity activity in Model.Activities)
		{
			<div class="col-sm-6 mb-3 mb-sm-0">
				<div class="card">
					<div class="card-body">
						@* If this is the Activity the User voted for display a voting symbol in users color *@
						@if (activity == Model.CurrentUser.Activity)
						{
							<span class="badge bg-danger text-white">@Model.CurrentUser.Name</span>
						}
						<h5 class="card-title">@activity.Name</h5>
						<p class="card-text">@activity.Description</p>
						<form method="post" asp-page-handler="Vote">
							<input type="hidden" name="EventId" value="@Model.EventId" />
							<input type="hidden" name="activityId" value="@activity.Id" />
							<button type="submit" class="btn btn-primary">VOTE</button> @* It would be nice if this button had the users color *@
						</form>
					</div>
				</div>
			</div>
		}
	}
</div>

