@page
@using Event_Organizer.web.DataAccess
@model Event_Organizer.web.Pages.EventModel
@{
	ViewData["Title"] = Model.ActiveEvent.Name;
}

<nav class="navbar bg-body-tertiaryc mb-4">
	<div class="container-fluid d-flex justify-content-center">
		<h1>@Model.ActiveEvent.Name</h1>
	</div>
</nav>

<div class="container-fluid mb-4">
	<h2 class="display-5">Hello @Model.CurrentUser.Name !</h2>
	<h4>@(Model.ActiveEvent.OpenForEditing ? "Feel free to add some activities" : "Time to vote") </h4>
</div>

<div class="row">
	@if (Model.Activities is not null)
	{
		@foreach (Activity activity in Model.Activities)
		{
			<div class="col-sm-6 mb-3 mb-sm-0">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">@activity.Name</h5>
						<p class="card-text">@activity.Description</p>
						<a href="#" class="btn btn-primary">VOTE</a>
					</div>
				</div>
			</div>
		}
	}
</div>

